<!-- vista crear nuevo almuerzo -->

<!-- titulo  -->
<div class="container">
	<div class="thumbnail">
		<h1>Crear nuevo Almuerzo</h1>
	</div>
</div>

<!-- Formulario  -->
<div class=" container">	
	<div class="thumbnail">
		<%= render 'form' %>	
 	</div >
 	<!-- boton volver -->
 	<button type="button" class="btn">
		<%= link_to 'Volver', almuerzos_path %>
	</button>
</div>
