<!-- jumbotron 1 -->
<div id="jumbotron1" class="jumbotron">
  <div class="container"> 
  	<h1>Almuerzos Easton Mall</h1>
  	<h3>El placer de la variedad en tu plato</h3>
  	<p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Registrate</a></p>
  </div>
</div>

<!-- dividiendo la pagina en 4 columnas -->
<div class= "container">
  <div class="row">
    <!-- columna 1 -->
  	<div class="col-md-4">
      <div class="page-header">
  		  <h1>Desde los Origenes <small> Preocupados de la preparación</small></h1>
            Nuestra preocupación por preparar los mejores almuerzos
            del mercado parte por la selección de los ingredientes,
            seleccionando solo productos de primera categoria, asegurando
            así un rico sabor a nuestros almuerzos, teniendo siempre en 
            cuenta que nuestro principal objetivo es mantener feliz 
            a nuestros almuerzadores!
  		</div>	
    </div>
    <!-- columna 2 -->
    <div class="col-md-4">
      <div class="page-header">
        <h1>Nuestra experiencia nos avala<small><br>Lideres en el mercado</small></h1>
          Tenemos una basta experiencia en lo que ventas de almuerzo se refiere,
          nuestros 10 años preparando almuerzos nos avalan para ser los mejores
          en la venta de almuerzo, enfocado en personas trabajadoras de centros
          comerciales
      </div>  
    </div>
    <!-- columna 3 -->
    <div class="col-md-4">
      <div class="page-header">
        <h1>Variedad es Nuestro Lema<small><br>Tienes para elegir</small></h1>
          Tenemos para ti una selección de tres menúes distintos para que
          elijas según lo que prefieras
      </div>  
    </div>
    
  </div>

</div>